{%  extends "base.html" %}
{% load i18n %}

{% block title %}
    <h5>
        {% trans "Change Currency" %}
    </h5>
{% endblock %}

{% block content %}

    <div class="row">
        <form action="/currency/" method="post" class="input-field col s4">
            {% csrf_token %}
            <select name="currency">
                {% for currency in currencies %}
                    <option value="{{ currency }}"{% if currency == current_currency %} selected{% endif %}>
                        {{ currency }}
                    </option>
                {% endfor %}
            </select>

            <button type="submit" value="submit" class="btn waves-effect waves-light blue darken-2 col s3">Ok</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        });
    </script>

{%  endblock %}