{%  extends "base.html" %}
{% load i18n %}

{% block title %}
    <h5>
        <strong>{{ user.username }}</strong>{% trans "'s profile" %}
    </h5>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s5">
            <h6>{% trans 'Change Email address' %}</h6>
            <form action="" method="post">
                {% csrf_token %}
                <p>{% trans 'Old email: ' %}<strong>{{ user.email }}</strong></p>

                <div class="input-field">
                    <label for="new_email">{% trans 'New Email: ' %}</label>
                    <input type="email" name="new_email" value="" id="new_email" class="validate">
                    <input type="hidden" name="change_request" value="email">
                </div>

                <button type="submit" value="Change Email" class="btn waves-effect waves-light blue darken-2 col s4">
                    {% trans "Change Email" %}
                </button>
            </form>
        </div>

        <div class="col s5 offset-l2 offset-m2 offset-s2">
            <h6>{% trans 'Change Password' %}</h6>
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-field">
                    <label for="new_password1">{% trans 'New Password: ' %}</label>
                    <input type="password" name="new_password1" value="" id="new_password1">
                </div>
                <div class="input-field">
                    <label for="new_password2">{% trans 'New Password again: ' %}</label>
                    <input type="password" name="new_password2" value="" id="new_password2">
                </div>

                <input type="hidden" name="change_request" value="password">
                <button type="submit" value="Change Password" class="btn waves-effect waves-light blue darken-2 col s4">
                    {% trans "Change Password" %}
                </button>
            </form>
        </div>
    </div>

{%  endblock %}